body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:483px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:83px;
  width:756px;
  height:483px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:127px;
  width:658px;
  height:359px;
  text-align:left;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:127px;
  width:658px;
  height:32px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:135px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:135px;
  width:33px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:177px;
  width:177px;
  height:16px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:212px;
  width:71px;
  height:16px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:210px;
  width:29px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u827_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u827.selected {
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:213px;
  width:12px;
  height:12px;
}
#u828_img.mouseOver {
}
#u828.mouseOver {
}
#u828_img.selected {
}
#u828.selected {
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:210px;
  width:29px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u830_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u830.selected {
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:213px;
  width:12px;
  height:12px;
}
#u831_img.mouseOver {
}
#u831.mouseOver {
}
#u831_img.selected {
}
#u831.selected {
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:394px;
  width:102px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:394px;
  width:102px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:252px;
  width:424px;
  height:109px;
}
#u835_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835.mouseOver {
}
#u835_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835.selected {
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:259px;
  width:409px;
  height:95px;
}
#u836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:95px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:252px;
  width:43px;
  height:16px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:168px;
  width:44px;
  height:38px;
}
#u839_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839.mouseOver {
}
#u839_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839.selected {
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:169px;
  width:42px;
  height:36px;
}
#u840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
