body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:722px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:722px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:84px;
  width:152px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:148px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:113px;
  width:375px;
  height:1px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:82px;
  width:12px;
  height:20px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:124px;
  width:300px;
  height:192px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:232px;
  width:233px;
  height:16px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:146px;
  width:50px;
  height:50px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline;
  color:#999999;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:285px;
  width:160px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#999999;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:71px;
  width:47px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:468px;
  width:151px;
  height:42px;
  color:#FFFFFF;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:147px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:20px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
