body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:440px;
  height:751px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:19px;
  width:400px;
  height:711px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:440px;
  height:751px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:761px;
  width:400px;
  height:711px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:440px;
  height:751px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:19px;
  width:400px;
  height:711px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:440px;
  height:751px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:19px;
  width:400px;
  height:711px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:440px;
  height:751px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:2002px;
  top:19px;
  width:400px;
  height:711px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:440px;
  height:751px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:770px;
  width:400px;
  height:711px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:440px;
  height:751px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:770px;
  width:400px;
  height:711px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
