body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1107px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:651px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:110px;
  width:1017px;
  height:651px;
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:157px;
  width:866px;
  height:33px;
  color:#FFFFFF;
  text-align:left;
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:862px;
  word-wrap:break-word;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:526px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:189px;
  width:866px;
  height:526px;
  text-align:left;
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:299px;
  width:800px;
  height:180px;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  text-align:left;
}
#u1421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:110px;
  height:36px;
  text-align:left;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:200px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:80px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u1427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u1428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:36px;
  text-align:left;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:36px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:36px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:36px;
  width:110px;
  height:36px;
  text-align:left;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:36px;
  width:200px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:36px;
  width:80px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:36px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:50px;
  height:36px;
  text-align:left;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:72px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:72px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:72px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:72px;
  width:110px;
  height:36px;
  text-align:left;
}
#u1441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:72px;
  width:200px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:72px;
  width:80px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u1443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:72px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:50px;
  height:36px;
  text-align:left;
}
#u1445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:108px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:108px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:108px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:108px;
  width:110px;
  height:36px;
  text-align:left;
}
#u1449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:108px;
  width:200px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:108px;
  width:80px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u1451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:108px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:50px;
  height:36px;
  text-align:left;
}
#u1453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:144px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:144px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:144px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:144px;
  width:110px;
  height:36px;
  text-align:left;
}
#u1457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:144px;
  width:200px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:144px;
  width:80px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u1459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:144px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u1460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:165px;
  width:31px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u1462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:515px;
  width:191px;
  height:16px;
}
#u1462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:510px;
  width:78px;
  height:26px;
  text-align:left;
}
#u1463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u1464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:518px;
  width:10px;
  height:10px;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:510px;
  width:41px;
  height:26px;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u1466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:510px;
  width:56px;
  height:26px;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u1467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:510px;
  width:27px;
  height:26px;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u1468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:510px;
  width:56px;
  height:26px;
}
#u1468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u1469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:510px;
  width:56px;
  height:26px;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:221px;
  width:266px;
  height:26px;
  color:#999999;
  text-align:left;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:262px;
  word-wrap:break-word;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:221px;
  width:58px;
  height:26px;
  color:#FFFFFF;
}
#u1471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:636px;
  width:102px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u1473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:-webkit-linear-gradient(290deg, rgba(230, 162, 60, 1) 0%, rgba(230, 162, 60, 1) 2%, rgba(235, 181, 99, 1) 100%, rgba(235, 181, 99, 1) 100%);
  background:-moz-linear-gradient(160deg, rgba(230, 162, 60, 1) 0%, rgba(230, 162, 60, 1) 2%, rgba(235, 181, 99, 1) 100%, rgba(235, 181, 99, 1) 100%);
  background:linear-gradient(160deg, rgba(230, 162, 60, 1) 0%, rgba(230, 162, 60, 1) 2%, rgba(235, 181, 99, 1) 100%, rgba(235, 181, 99, 1) 100%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:221px;
  width:58px;
  height:26px;
  color:#FFFFFF;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:273px;
  width:435px;
  height:16px;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:221px;
  width:163px;
  height:26px;
}
#u1475_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1475_input:disabled {
  color:grayText;
}
